<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Library Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
<form action="#" th:action="@{/borrow-books}" method="get">
    <label for="title">Please enter book title here</label>
    <input type="text" id="title" name="title" minlength="2" required>
    <button type="submit" class="Search" formaction="search-books"> Search</button>
    <button type="submit" class="borrow" formaction="borrow-books"> Borrow</button>
    <button type="submit" class="transaction" formaction="transaction-history"> Transaction History</button><br>
    <button type="submit" class="transaction" formaction="login">Log Out</button>
</form>
</div>
</body>
</html>