
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/login-layout.css}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <form name="f" th:action="@{/login}" method="POST">

                <div th:if="${error}" class="alert alert-error">
                    <small class="incorrect">Invalid username and password.</small>
                </div>

                <div th:if="${logout}" class="alert alert-success">
                    <small class="logout"> You have been logged out.</small>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="username">Username:<span class="required"></span></label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="username" name="username" placeholder="Enter Username" required/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-25">
                        <label for="password">Password:<span class="required"></span></label>
                    </div>
                    <div class="col-75">
                        <input type="password" id="password" name="password" placeholder="Enter Password" required/>
                    </div>
                </div>

                <div class="form-actions">
                    <input type="submit" value="Login">
                </div>

            </form>
            <form th:action="@{/register}" method="post">
                <div class="row">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</body>
</html>