<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Library Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/home-layout.css}">
</head>
<style>
     ul {
       margin: 20;
       padding: 0;
       overflow: hidden;
       background-color: #6dae67;
       min-height: 40px;
       border:1px solid black;
    }
    .button {
      background-color: #6dae67;
      color: black;
      border: 1px solid black;
      padding: 10px 20px;
      margin-left: 10px;
      margin-top: 10px;
      cursor: pointer;
    }
    .search-box {
      padding: 10px;
      border: 1px solid black;
      font-size: 15px;
      min-width: 1000 px;
    }
</style>
<body>
    <ul th:fragment="userNavBar">
        <a href="/adminHome">Home</a>
        <a style="float:right"/> <a class="active" href="/login">Logout</a>
    </ul>
    <h2>Edit Student</h2>
    <form th:object="${student}" th:action="@{/save/{id}(id=${student.id})}" method="post">
        <input type="hidden" th:field="*{id}" class="search-box">
        <label for="name">Name:<span class="required"></span></label>
        <input type="text" id="name" th:field="*{name}" class="search-box" required="required"><br><br>
        <label for="emailId">Email ID:<span class="required"></span></label>
        <input type="email" id="emailId" class="search-box" th:field="*{emailId}" pattern=".+@gmail\.com" size="30" required="required"><br><br>
        <button type="submit" class="button">Save</button>
        <button type="submit" class="button" formaction="/student-list"> Back</button>
    </form> <br><br>
</body>
</html>