<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Library Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/home-layout.css}">
</head>
<body>
    <ul th:fragment="userNavBar">
        <a href="/userHome">Home</a>
        <a style="float:right"/> <a class="active" href="/login">Logout</a>
    </ul>
    <form action="#" th:action="@{/userHome}" method="post">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Quantity Available</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="Book : ${list}">
                    <td th:text="${Book.getId()}"></td>
                    <td th:text="${Book.getTitle()}"></td>
                    <td th:text="${Book.getAuthor()}"></td>
                    <td th:text="${Book.getQuantity_available()}"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="submit" class="button" formaction="userHome" > Back</button>
        </div>
    </form>
</body>
</html>