<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Library Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/home-layout.css}">
</head>
<body>
    <ul th:fragment="userNavBar">
        <a href="/adminHome">Home</a>
        <a style="float:right"/> <a class="active" href="/login">Logout</a>
    </ul>
    <h1>Student List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email ID</th>
            <th>Actions</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.getId()}"></td>
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getEmailId()}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${student.getId()})}">Edit</a>
                <a th:href="@{/delete/{id}(id=${student.getId()})}">Delete</a>
            </td>
        </tr>
    </table>
    <br>
    <form method="get">
        <button type="submit" class="button" formaction="/add">Add Student</button>
        <button type="submit" class="button" formaction="/adminHome">Back</button>
    </form>
</body>
</html>