<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Library Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/home-layout.css}">
</head>
<body>
    <ul th:fragment="userNavBar">
        <a href="/adminHome">Home</a>
        <a style="float:right"/> <a class="active" href="/login">Logout</a>
    </ul>
    <form action="#" th:action="@{/userHome}" method="post">
        <h2>Transaction History</h2>
        <table>
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Title</th>
                    <th>Action</th>
                    <th>Email</th>
                    <th>Date of action</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="TransactionHistory : ${history}">
                    <td th:text="${TransactionHistory.getStudent_id()}"></td>
                    <td th:text="${TransactionHistory.getTitle()}"></td>
                    <td th:text="${TransactionHistory.getAction()}"></td>
                    <td th:text="${TransactionHistory.getEmailid()}"></td>
                    <td th:text="${TransactionHistory.getDate()}"></td>
                    <td th:text="${TransactionHistory.getDue_date()}"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="submit" class="button" formaction="/adminHome"> Back</button>
        </div>
    </form>
</body>
</html>