<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/home-layout.css}">
</head>
<body>

    <ul th:fragment="userNavBar">
        <a href="/userHome">Home</a>
        <a style="float:right"/> <a class="active" href="/logout">Logout</a>
    </ul>
    <h2>User Home</h2>
    <div class="button-container">
        <form action="#" th:action="@{/borrow-books}" th:object="${student}" method="get">
            <label for="title">Please enter book title here:<span class="required"></span></label>
            <input type="text" id="title" size="60" class = "search-box" name="title" minlength="2" required><br><br>
            <button type="submit" class="button" formaction="/search-books"> Search</button>
            <button type="submit" class="button" formaction="/borrow-books"> Borrow</button>
            <button type="submit" class="button" formaction="/return-books"> Return</button>
        </form>
    </div>
    <br>
    <form>
        <button type="submit" class="button" formaction="/user-transaction"> Transaction History</button>
    </form>
</body>
</html>
