<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Library Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{CSS/home-layout.css}">
</head>
<body>
    <ul th:fragment="userNavBar">
        <a href="/userHome">Home</a>
        <a style="float:right"/> <a class="active" href="/login">Logout</a>
    </ul>
    <h2>Transaction History</h2>
    <form action="#" th:action="@{/userHome}" method="post">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
                <th>Date of action</th>
                <th>Due date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="TransactionHistory : ${history}">
                <td th:text="${TransactionHistory.getTitle()}"></td>
                <td th:text="${TransactionHistory.getAction()}"></td>
                <td th:text="${TransactionHistory.getDate()}"></td>
                <td th:text="${TransactionHistory.getDue_date()}"></td>
            </tr>
            </tbody>
        </table>
        <div>
            <button type="submit" class="button" formaction="/userHome"> Back</button>
        </div>
    </form>
</body>
</html>